body {
  background-image: url("Assets/Frog Tile.png");
  color: black;
  font-family: Verdana;
}

main {
  background-color: #FBD883;
  border: 5px solid #739F05;
  border-radius: 20px;
  padding: 0px 0px 50px 0px;
  margin: auto;
  width: 90%;
}

header {
  background-color: #FBD883;
  margin: 0 auto 10px auto;
  padding-bottom: 5px;
  width: 65%;
  border: 5px solid #739F05;
  border-radius: 20px;
}

h1 {
    background-color: #DCA511; 
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  }
  
.center
{
    display: flex;
    justify-content: center;
    align-items: center;
  }

#About {
  margin: 0px 15px 2px 15px;
  padding: 0px 15px 2px 15px;
  width:40%;
  background-color: #DCA511;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

#frogIcon {
  width: 100px;
  height: 100px;
  margin: 10px 15px;
  }

#frogIconFlipped {
  width: 100px;
  height: 100px;
  margin: 10px 15px;

  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
  }

#subtitle {
  text-align: center;
    background-color: #DCA511; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    margin:  0px auto 10px auto;
    width:50%;
}
  
